{{define "nav"}}
		<nav class="navbar navbar-expand-sm bg-asphalt navbar-dark sticky-top">
		  <a class="navbar-brand" href="/"><img src="/assets/image/html-tag3.png" alt="Jack!" height="40px" width="auto"></a>
		  <ul class="navbar-nav">
		    <li class="nav-item"><a class="nav-link" href="/gui/path/">path |</a></li>
		    <li class="nav-item"><a class="nav-link" href="/gui/action/">action |</a></li>
		  </ul>
		</nav>
		<b class="bg-asphalt pad-full clr-emerald" style="float: right" id="date">today</b><br>

		<script type="text/javascript">
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			if(dd<10) {
			    dd = '0'+dd
			} 
			if(mm<10) {
			    mm = '0'+mm
			} 
			today = mm + '/' + dd + '/' + yyyy;
			document.getElementById("date").innerHTML = today;
		</script>
{{end}}